


<li id="message-<%= message.id %>">
  <%= link_to gravatar_for(message.send_user, size: 50), message.send_user %>
  <span class="user"><%= link_to message.send_user.name, message.send_user %></span>
  <span class="content">
    <%= message.content %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(message.created_at) %> ago.
  </span>
</li>
